@tailwind base;


html {
  font-size: 18px;
}

h2,
h3,
h4,
h5 {
  @apply mb-2 font-mono;
}

h2 {
  @apply mt-6 text-3xl;
}

h3 {
  @apply mt-8 text-xl font-bold;
}

h4 {
  @apply mt-6 font-sans text-base font-bold;
}

p {
  @apply mb-4 font-mono;
}

ul {
  @apply list-disc;
}

@tailwind components;

@tailwind utilities;

.theme-light {
    --bg-background-primary: theme('colors.gray.100');
    --bg-background-secondary: #F7FAFC;
    --bg-background-ternary: #E2E8F0;

    --text-copy-primary: #2D3748;
    --text-copy-secondary: #4a5568;
    --text-copy-ternary: theme('colors.red.600');
}

.theme-dark {
    --bg-background-primary: theme('colors.gray.900');
    --bg-background-secondary: #102C44;
    --bg-background-ternary: #1E3951;

    --text-copy-primary: theme('colors.gray.100');
    --text-copy-secondary: theme('colors.gray.100');
    --text-copy-ternary: theme('colors.yellow.300');
}


a {
    @apply border-b-2;
    @apply border-transparent;
    @apply border-solid;
    transition: border 0.35s ease-in-out;
}

.theme-light a:hover{
    border-color: theme('colors.red.600');
}

.theme-dark a:hover{
    border-color: theme('colors.yellow.300');
}

/* a {
    border-bottom-width: 2px;
    border-color: transparent;
    transition: border-bottom 0.25s ease-in-out;
}
a:hover {
    border-color: #0097ff;
} */